<%= simple_form_for @profile do |form| %>
  <%= f.label :active %>
  <%= f.check_box :active %>
  <%= f.label :name, "*Name" %>
  <%= f.text_field :name, required: true, autofocus: true %></span>
  <%= f.label :avatar_url, "Avatar URL" %>
  <%= f.text_field :avatar_url %>
  <%= form.submit "Save", class: 'btn btn-success' %>
<% end %>