
<div class="profiles index">
  <div class="profile-header-container">
    <h1 class="profile-header">My Profiles</h1>
  </div>

<div class="profile-btn-containter">
  <%= link_to new_profile_path, class: 'btn btn-primary' do %>Create New Profile<% end %>
</div>

<br></br>
  
  <div class="profiles-container">
    <% @profiles.each do |profile| %>
    <%= link_to(profile) do %>
    <div class="profile-container">
      <div class="profile-tile" summary="profile list" >
        <div class="profile-name-container"><p class="profile-name"><%= profile.name %></p></div>
          <div class="profile-actions-container">
            <%= link_to("Edit", edit_profile_path(profile), :class => 'action edit') %>
            <%= link_to("Delete", delete_profile_path(profile), :class => 'action delete') %>
          </div>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
</div>
