<div class="login-container">
  <div class="login-wrapper">
    <div class="card login-card">
      <div class="card-body">
        <div class="login-logo-container">
          <%= image_tag "hubbub-logo-large.png", alt: "Hubbubb", class: "login-logo", loading: "eager", fetchpriority: "high" %>
        </div>
        <%= form_for(resource, as: resource_name, url: user_registration_path, html: { data: { turbo: "false" } }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="form-group mb-3">
            <%= f.label :first_name, class: "form-label" %>
            <%= f.text_field :first_name, autocomplete: "given-name", class: "form-control" %>
          </div>

          <div class="form-group mb-3">
            <%= f.label :last_name, class: "form-label" %>
            <%= f.text_field :last_name, autocomplete: "family-name", class: "form-control" %>
          </div>

          <div class="form-group mb-3">
            <%= f.label :email, class: "form-label" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>

          <div class="form-group mb-3">
            <%= f.label :password, class: "form-label" %>
            <% if @minimum_password_length %>
              <em class="text-white-50" style="font-size: 0.85rem;">(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div class="form-group mb-3">
            <%= f.label :password_confirmation, class: "form-label" %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div class="form-group mb-3">
            <%= f.label :role, class: "form-label" %>
            <%= f.select :role, User.roles.keys.map { |r| [r.titleize, r] }, {}, class: 'form-control form-select' %>
          </div>

          <div class="d-grid gap-2">
            <%= f.submit "Sign up", class: "btn btn-primary login-btn" %>
          </div>
        <% end %>

        <div>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
