<% content_for :navbar do %>
  <%= render 'shared/navbar_org' %>
<% end %>

<div class="builder-container d-flex" style="height: calc(100vh - 87px);">
  <div id="record-leftbar" class="border-end" style="width:300px; overflow:auto; background:#fff;"></div>
  <div id="record-builder-canvas" style="flex:1 1 auto;">
    <div style="text-align: center; padding: 20px; color: #666;">Loading record page builder...</div>
  </div>
  <script type="application/json" id="record-layout-metadata">
    <%= record_layout_metadata_json(@organization, @table_type, @table_id, @layout) %>
  </script>
  <script type="application/json" id="record-layout-preview">
    <%= record_layout_preview_json(@organization, @table_type, @table_id) %>
  </script>
  <script type="application/json" id="builder-assets">
    {
      "application_css": "<%= asset_path 'application.css' %>",
      "record_builder_css": "<%= asset_path 'record_builder.css' %>"
    }
  </script>
</div>

<!-- Builder CSS -->
<%= stylesheet_link_tag 'record_builder', media: 'all' %>

<!-- Main builder JavaScript is now imported via application.js -->


